global
  log 127.0.0.1 local0
  log 127.0.0.1 local1 notice
  maxconn 4096

defaults
  log global
  mode http
  option httplog
  option dontlognull
  timeout connect 5000ms
  timeout client 50000ms
  timeout server 50000ms

listen stats
  bind 0.0.0.0:70
  mode http
  stats enable
  stats hide-version
  stats scope .
  stats realm Haproxy\ Statistics
  stats uri /
  stats auth user:pass

frontend balancer
  bind 0.0.0.0:80
  mode http
  default_backend be_static

  use_backend be_static if { path -i -m beg /static }
  use_backend be_statistics if { path -i -m beg /statistics }
  use_backend be_dashboard if { path -i -m beg /dashboard }

backend be_static
  mode http
  option forwardfor
  balance roundrobin
  server static static:8080 check
  option httpchk GET /
  http-check expect status 200

backend be_statistics
  mode http
  option forwardfor
  balance roundrobin
  server static statistics:3000 check
  option httpchk GET /statistics
  http-check expect status 200

backend be_dashboard
  mode http
  option forwardfor
  balance roundrobin
  server static dashboard:8081 check
  option httpchk GET /dashboard HTTP/1.1\r\nAuthorization:\ Basic\ "$BASE64_AUTH"
  http-check expect status 200